#message{
  height: 61%;
  width: 40%;
 display: flex;
    flex-direction: column-reverse;
  overflow: auto;
  position: fixed;
  background-color: white;
}
#message img{
  width: 40px;
  border-radius: 50%;
}

#message #sender{
    border: 1px solid #e2e4e3;
  margin: 5px;
  padding: 10px;
  background:   #00CED1; 
  display: inline-block;
  border-radius: 6px;
  width:auto; 
  clear:both;
  margin-left: 400px; 
     }
#message #receiver{
      border: 1px solid #e2e4e3;
  margin: 5px;
  padding: 8px;
  background: #f1f1f1; 
  display: inline-block;
  max-width: 70%;
  border-radius: 6px;
  clear:both;
  float: left;
 }


