{% extends 'base/base.html' %}
   {% load staticfiles %}
    {% block contain %}
    	 <div class="forms">
        <br><br><br><br><br><br><br><br>
        <div id="cards" >
  <form action="/check_login/" method="POST">
  	  {% csrf_token %}
      Please enter your ID and PASSWORD TO Continue
    <label for="userid">User Id</label>
    <input type="text" id="userid" name="user_id" placeholder="Your User id...." required>
    <label for="pass">Password</label>
    <input type="password" id="lname" name="pass" placeholder="Your password.." required>  
    <input type="submit" value="Login">
  </form>
    <font color="blue">{{alert}}</font>
  </div>
</div>
    
    	{% endblock %}